body {
  background: #f5f9fc;
  font-family: "Segoe UI", sans-serif;
}

.form-card, .submitted-card {
  border-radius: 12px;
  background: white;
}

.form-title {
  color: #004080;
  font-weight: bold;
}

.submitted-title {
  color: #008000;
}

.submit-btn {
  background-color: #008000 !important;
  border: none;
}

button {
  border-radius: 6px !important;
}
